@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sticky Menu dropdown styles override*/
#stickyMenu button {
  color: #f8f8f8 !important;
  background-color: #386c35 !important;
  outline: none !important;
  margin-right: 10px !important;
}

#stickyMenu button:hover {
    color: #f8f8f8 !important;
    background-color: #386c35 !important;
}

#stickyMenu ul li button {
  background-color: #ffffff !important;
}

#stickyMenu ul li button:hover {
  background-color: #f8f8f8 !important;
}

@media screen and (max-width: 640px) {
    #stickyMenu ul li a {
        background-color: #f8f8f8 !important;
    }
}
